# Ignore all compiled Python files
*.pyc

# Ignore enviroment variables
/backend/.env

# Ignore the logs directory
logs/

# Ignore the staticfiles directory
backend/static/

# Ignore the media directory
backend/media/