# Ignore all compiled Python files
*.pyc

# Ignore enviroment variables
.env

# Ignore the logs directory
logs/

# Ignore the staticfiles directory
backend/staticfiles/

# Ignore the media directory
backend/media/