# Ignore all compiled Python files
*.pyc
.DS_Store

# Ignore enviroment variables
.env

# Ignore the logs directory
logs/

# Ignore the staticfiles directory
static/

# Ignore the media directory
media/